 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
 @import url(./container-custom.css);
 @import url(./flyout-navigation-bar.css);
 @import url(./hero-content.css);
 @import url(./sections.css);
 @import url(./footer.css);

 :root {
     --primary--color: #0a1118;
     --primary--color-highlight: #233D54;
     --bs-body-bg: #FBF0F6;
     --bs-body-font-family: 'Montserrat', sans-serif;
 }

 html {
     scroll-behavior: smooth;
 }

 a {
     color: var(--primary--color)
 }

 a:hover {
     color: var(--primary--color)
 }

 /* Custom Container */

 /* .container-custom {
     width: 100%;
     padding: 0 1rem;
     margin: 0 auto;
 } */

 /* Custom Container */

 /* Flyout navigation bar */

 /* #navbar {
     background-color: rgb(255, 247, 231);
 }

 .dropdown-nav__closeNavBtn {
     top: 20px;
     right: 16px;
     background-color: rgba(255, 255, 255, 0.6);
 } */

 /* Flyout navigation bar */

 /* Hero content */

 /* .hero {
     background-color: var(--primary--color);
 }

 .hero__video {
     min-height: 100%;
     min-width: 100%;
     width: auto;
     height: auto;
     transform: translateX(-50%) translateY(-50%);
 }

 .hero__overlay {
     background-color: var(--primary--color);
 }

 .hero__content-width {
     max-width: 540px;
 }

 .hero__content-scroll-btn {
     bottom: 30px;
     transform: translateX(-50%);
 }

 .hero__content-scroll-btn:hover {
     color: var(--bs-light);
     opacity: 0.8;
 }

 .hero__content-scroll-btn .bi {
     animation: bounce 0.7s infinite alternate;
 } */

 /* Hero content */



 /* Sections */

 /* .steps__content-width{
    max-width: 450px;
    margin: 0 auto;
 }

 .steps__section-img {
     height: 240px;
     object-fit: cover;
 }

 .steps-background{
    background-color: #fefffa;
 } */

 /* Sections */


/* Footer */

/* .footer__content{
    border-top: 1px solid var(--primary--color-highlight);
} */

/* Footer */

 /* @media (min-width: 544px) {
     .container-custom {
         width: 1140px;
     }

     .steps__section-img {
        height: auto;
    }
 }


 @media (min-width: 1200px) {
     .container-custom {
         width: 1140px;
     }
 }

 @media (min-width: 1400px) {
     .container-custom {
         width: 1340px;
     }

     .hero__content-heading {
         font-size: 3.2rem;
     }
 }

 @media (min-width: 1600px) {
     .container-custom {
         width: 1540px;
     }
 }

 @keyframes bounce {
     0% {
         transform: translateY(0%);
     }

     100% {
         transform: translateY(40%);
     }
 } */